nav {
}

.sec4 {
  width: 100vw;
  /* height: 155.609rem; */
}

.innersec4 {
  /* height: 155.609rem; */
}

.foodsCont {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  border: 1px solid red;
}

.sec4 .div1,
.sec4 .div2,
.sec4 .div3,
.sec4 .div4,
.sec4 .div5,
.sec4 .div6,
.sec4 .div7,
.sec4 .div8,
.sec4 .div9 {
  /* width: 50%; */
  height: 40.703rem;
}

/* .sec4 .div5 {
  height: 33.9rem;
} */
.gallery {
  width: 100%;
  height: 60.5rem;
}
